@using ITI.Simiti.WebApp.Models.AccountViewModels
@using Mvc.Client.Extensions

@model LoginViewModel
@{
    ViewData["Title"] = "Se connecter via ITI.Simiti";
}
<div class="container">
    <div class="page-header">

        <h2>Connexion</h2>
    </div>
    <form asp-controller="Account" asp-action="Login" method="post">
        @if (!ViewContext.ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="alert alert-danger"></div>
        }

        <div class="form-group">
            <label asp-for="Email" class="cols-sm-2 control-label">Votre Email</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Entrer votre Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
        </div>

        @*<div class="form-group">
                <label asp-for="Email">E-mail : </label>
                <input asp-for="Email" class="form-control" />
                <span  asp-validation-for="Email"></span>
            </div>*@

        <div class="form-group">
            <label asp-for="Password" class="cols-sm-2 control-label">Mot de Passe</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input asp-for="Password" type="password" class="form-control" name="password" id="password" placeholder="Entrer votre mot de passe" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
        </div>

        @*<div class="form-group">
                <label asp-for="Password">Mot de passe : </label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>*@
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
        </div>
        <div class="form-group">
            <a class="btn btn-default btn-block" asp-action="Register">Creer un nouveau compte</a>
        </div>
    </form>
</div>
