@using ITI.Simiti.WebApp.Models.AccountViewModels

@model ModifyPasswordViewModel
@{
    ViewData["Title"] = "Modify Password";
}

<div class="container">
    <div class="page-header">
        <h1>@ViewData["Title"]</h1>
    </div>
    <form asp-controller="Account" asp-action="ModifyPassword" method="post">
        @if (!ViewContext.ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="alert alert-danger"></div>
        }
        <div class="form-group">
            <label asp-for="Email">E-mail : </label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="OldPassword">Ancien mot de passe : </label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword"></span>
        </div>

        <div class="form-group">
            <label asp-for="NewPassword">Nouveau mot de passe : </label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPasswordConfirm">Confirmation le nouveau mot de passe : </label>
            <input asp-for="NewPasswordConfirm" class="form-control" />
            <span asp-validation-for="NewPasswordConfirm"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Valider</button>
        </div>
    </form>
</div>
